.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

span {
	position: absolute;
	top: 25px;
	right: 25px;
	color: white;
	cursor: pointer;
}